*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
}

#one {
  height: 100vh;
  width: 100vw;
  background: black;
}

.move {
  position: absolute;
  z-index: 2;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 6px 25px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  z-index: 3;
}