*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
}

#one {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.move {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
}

.btn {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 6px 25px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  z-index: 3;
}