#one {
  height: 100vh;
  width: 100vw;
  background: black;
}

.move {
  position: absolute;
  transition-duration: 3s;
  height: 5px;
  width: 5px;
  background: yellow;
  
}

#two {
  top: 40%;
  left: 250px;
  height: 5px;
  width: 5px;
  background: red;
}

#three {
  top: 50%;
  left: 270px;
  height: 5px;
  width: 5px;
  background: blue;
}

#four {
  top: 60%;
  left: 230px;
  height: 5px;
  width: 5px;
  background: green;
}
