#one {
    height: 100vh;
    width: 100vw;
    background: black;
  }
  
  .move {
    position: absolute;
  }
  
  #two {
    top: 40%;
    left: 250px;
    height: 30px;
    width: 30px;
    background: red;
  }
  
  #three {
    top: 50%;
    left: 270px;
    height: 20px;
    width: 20px;
    background: blue;
  }
  
  #four {
    top: 60%;
    left: 230px;
    height: 20px;
    width: 20px;
    background: green;
  }
  