#one {
  height: 100vh;
  width: 100vw;
  background: black;
}

.move {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: black
}