#one {
  height: 100vh;
  width: 100vw;
  background: black;
}

.move {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.btn {
  position: absolute;
  top: 25px;
  left: 525px;
  padding: 6px 25px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}